<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Techpedia</title>
    <link rel="stylesheet" type="text/css" href="/css/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="/js/container.js"></script>


    <script>
        $(document).ready(function(){

            setDistrict();
            windowResize();
            wheel();

            /* 브라우즈 창 크기가 변경될 때의 설정 */
            function windowResize() {
                $(window).resize(function() {
                    $('title').text("Techpedia" + width('window'));
                    setDistrict();
                });
            }

            /* 수정이 빈헌하게 일어나는 가로 길이 집합 */
            function width(type) {
                switch(type) {
                    case 'mobile':
                        return 500;
                    case 'window' :
                        return $(window).width();
                    case 'content':
                        return $("#wrap").width() - ($(window).width() > width('mobile') ? width('menu') : 0);
                    case 'menu':
                        return $(window).width() > width('mobile') ? 400 : 0;
                }
                return -1;
            }

            /* 수정이 빈헌하게 일어나는 세로 길이 집합 */
            function height(type) {
                switch(type) {
                    case 'header':
                        return 44;
                    case 'footer':
                        return 44;
                    case 'page':
                        return $(".page001").height();
                }
                return -1;
            }

            /* Framework의 크기와 위치 결정 */
            function setDistrict() {
                $("#header").height(height('header'));
                $("#footer").height(height('footer'));
                $("#content").width(width('content'));
                $("#menu").width(width('menu'));

                $("#content").css("left", width('window') > width('mobile') ? width('menu'): 0);
                $("#menu").css("display", width('window') > width('mobile') ? 'inline' : 'none');
                $("#menu").css("top", height('header'));
                $("#content").css("top", height('header'));
            }

            var currentPageNo = 0;
            var currentOffset = 44;
            var lastPageNo = 3;
            /* 마우스 휠에 따른 페이지 전환 애니메이션 */
            function wheel() {
                $("#content").on('mousewheel DOMMouseScroll', function(e){

                    var delta = e.originalEvent.wheelDelta;
                    if(delta>0 && currentPageNo==0) return;
                    if(delta<0 && currentPageNo==lastPageNo) return;

                    currentOffset += height('page') * (delta > 0 ? 1 : -1);
                    $("#content").animate({top: currentOffset+'px'});
//                    console.log($("#content").offset().top);
                    currentPageNo = currentPageNo + (delta > 0 ? -1 : 1);

                });
            }
        })

    </script>
</head>
<body>

    <div id="wrap">

        <div id="container" ng-app="container" >
            <div id="menu" ng-controller="MenuCtrl">
                <div class="menu_item" ng-repeat="detail in details">
                    {{detail.name}}
                    <div class="menu_subitem" ng-repeat="detailed in details.name">
                        {{detailed.prof}}
                    </div>
                </div>
            </div>
            <div id="content">
                <div class="page001">
                    <a href="#target" class="scroll">Scroll to target1</a>
                </div>
                <div class="page002">
                    <a href="#target" class="scroll">Scroll to target2</a>
                </div>
                <div class="page003">
                    <a href="#target" class="scroll">Scroll to target3</a>
                </div>
                <div class="page004">
                    <a href="#target" class="scroll">Scroll to target4</a>
                </div>
            </div>
        </div>
        <div id="header"></div>
        <div id="footer"></div>
    <!--<div class="bg_logo">-->
        <!--<img src="/images/600_300_TURQUOISE.jpg">-->
    <!--</div>-->
    </div>
</body>
</html>